@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    font-family: 'Oxygen', sans-serif;
    margin: 0px;
}

#menu {
    width: 100%;
    background-color: purple;
    height: 50px;
    display: flex;
}

#menu a {
    margin: 0px;
    text-decoration: none;
    color: white;
    display: block;
    background-color: purple;
    width: 100px;
    margin-left: 25px;
    font-size: 30px;
    height: 80%;
    transition-duration: 0.2s;
    text-align: center;
    border-radius: 10px;
    margin-top: 5px;
}

#menu a:hover {
    background-color: rgb(102, 0, 102);
}

#logo {
    background-color: cyan;
    height: 600px;
    text-align: center;
}